<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
</head>
<body>
    <h1>Event List</h1>
    <a href="/main"><button class="button" style="vertical-align:middle"><span>Back</span></button></a>
    <table class="table table-light table-striped" class="table table-bordered">
    <thead class=".table-dark">
        <tr>
            <th>ID</th>
            <th>Event Type</th>
            <th>Timestamp</th>
            <th>Access Decision</th> <!-- Added this line -->
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.id }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.timestamp }}</td>
            <td>{{ event.access_decision }}</td> <!-- Added this line -->
            <td>
                {% if event.image_filename %}
                    <img src="{{ url_for('uploaded_file', filename=event.image_filename) }}" alt="Event Image">
                {% else %}
                    No image available
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>
