<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Door System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container d-flex justify-content-between">
            <h1 class="mb-0">Security Door System</h1>
            <img src="your-logo.png" alt="Your Logo" class="logo">
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Live CCTV Feed</h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{url_for('video')}}" allowfullscreen></iframe>
                        </div> 
                    </div>            
                    <div class="access-controls d-flex justify-content-between mt-3">
                        <button class="btn btn-danger" id="deny-access-btn">Deny Access</button>
                        <button class="btn btn-success" id="grant-access-btn">Grant Access</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <button class="btn btn-primary fixed-right" id="recent-access-btn">Recent Access</button>
    </div>

    <footer class="bg-light py-5 mt-5">
        <div class="container">
            <p class="mb-0 text-muted">&copy; 2024 Security Door System</p>
        </div>
    </footer>

    <script>
        document.getElementById('grant-access-btn').addEventListener('click', function() {
            fetch('/grant_access', {method: 'POST'})
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('deny-access-btn').addEventListener('click', function() {
            fetch('/deny_access', {method: 'POST'})
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
